

.display-flex{
    display: flex;

}

.bananr-image{

    width:62px;
    height: 62px;
}

.logo{
    display: flex;
}

.btn-primary{
    background-color: #e58e2a;
    color:white;
    padding: 25px 25px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    border: none;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 800;
    font-size: 1.5rem;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    text-decoration: none;
    font-weight: 500;
    align-items: center;

}

.banner-section{
    display: flex;
}

.title-description{
    margin-left: 10px;
    max-width: 530px;
    align-items: start;
}

.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.feature-head{
    align-items: flex-start;
}

  


.container-bannar {
    max-width: 600px;
    margin: 0 auto;
    padding: 120px;
    align-content: center;
    position: flex;
    
    
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container-clases {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  
  .card img {
    max-width: 100%;
    margin-bottom: 15px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .navigation {
    text-align: center;
    margin-top: 20px;
  }
  
  .prev,
  .next {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }