

.display-flex{
    display: flex;

}

.bananr-image{

    width:62px;
    height: 62px;
}

.logo{
    display: flex;
}

.btn-primary{
    background-color: #e58e2a;
    color:white;
    padding: 25px 25px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    border: none;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 800;
    font-size: 1.5rem;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    text-decoration: none;
    font-weight: 500;
    align-items: center;

}

.banner-section{
    display: flex;
}

.title-description{
    margin-left: 10px;
    max-width: 530px;
    align-items: start;
}

.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.feature-head{
    align-items: flex-start;
}


.Standard-Curriculum{
  align-content: center;
}

/*  */
main{
  max-width: 1440px;
  margin: 0 auto;
}

main>section{
  margin-top: 80px;
}

.container-bannar {
    max-width: 600px;
    margin: 0 auto;
    padding: 120px;
    align-content: center;
    position: flex;
    
    
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container-clases {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  
  .card img {
    max-width: 100%;
    margin-bottom: 15px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .navigation {
    text-align: center;
    margin-top: 20px;
  }
  
  .prev,
  .next {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .container-story {
    display: flex;
    margin: 0 auto;
    width: auto;
    
    

  }

  .story-big {
    margin-bottom: 1px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  

  .container-story4{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 10px;
    grid-gap: 20px;
  
  
  }

  .story {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
  
    
  }
 
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  
  .date {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .view-all {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }

@media screen and (max-width:576px){
  .navbar, .nav-item, .container-story{
    flex-direction: column;
  }
}

@media screen and (min-width 276) and (max-width: 992px) {
  .kids-wallpaper{
    flex-direction:column;
  }
}

  /* Footer CSS */

  footer {
    background-color: #3498db; 
    color: #fff;
    padding: 30px 0;
  }
  
  .container-footer {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    text-align: left;
  }
  
  .logo img {
    max-width: 150px;
    margin-bottom: 15px;
  }
  
  .about-school,
  .keep-in-touch {
    text-align: left;
  }
  
  .about-school ul,
  .keep-in-touch ul {
    list-style: none;
    padding: 0;
  }
  
  .about-school ul li,
  .keep-in-touch ul li {
    margin-bottom: 10px;
  }
  
  .about-school ul li a,
  .keep-in-touch ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #fff;
  }